<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <form action="/weather" method="POST">
    <input type="text" name="cityName" id="form" placeholder="Enter a City">
    <button type="submit">Submit</button>
    <h2>{{weatherText}}</h2>
  </form>
  
</body>
</html>